
@{
    ViewBag.Title = "Tinh";
}

<h2>Thong tin tien dien</h2>
<table class="table table-bordered table-striped">
    <tr>
        <td>Chu ho:</td>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>
        <td>So dien tieu thu:</td>
        <td>@ViewBag.SoDien</td>
    </tr>
    <tr>
        <td>Tien phai tra:</td>
        <td>@ViewBag.SoTienTra</td>
    </tr>
</table>
