@model  IEnumerable<QLThuVien.Models.CHUDESACH>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    li {
        padding: 10px 0;
    }

        li a {
            color: #000;
        }
</style>

@foreach (var item in Model)
{
    <li class="nav-link"><a href="/thuvien/chudesach/@item.maChuDe" class="nav-link">@item.tenChuDe</a></li>
}

