
@{
    ViewBag.Title = "Tinh";
}

<h2>Tien Linh</h2>
<table class="table table-bordered table-striped" style="font-family: Arial; font-weight: bold">
    <tr>
        <td>Ma NV</td>
        <td>@ViewBag.Id</td>
    </tr>
    <tr>
        <td>Co ngay cong</td>
        <td>@ViewBag.NgayCong</td>
    </tr>
    <tr>
        <td>Tien duoc linh la</td>
        <td>@ViewBag.TienLinh</td>
    </tr>
</table>

