
@{
    ViewBag.Title = "Tinh";
}

<h2>Ket qua thi</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Ho ten thi sinh</td>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>
        <td>Tong Diem</td>
        <td>@ViewBag.TongDiem</td>
    </tr>
    <tr>
        <td>Ket qua</td>
        <td>@ViewBag.KetQua</td>
    </tr>
</table>
