
@{
    ViewBag.Title = "daotao";
    Layout = "~/Views/Shared/_LayoutPageTuyenSinh.cshtml";
}

<h2>Đào Tạo Page</h2>
<ul>
    <li>
        Trường HaUI đào tạo theo mô hình đào tạo đa ngành, đa lĩnh vực, giúp sinh viên có thể có được kiến thức và kỹ năng chuyên môn đa dạng và phong phú.
    </li>
    <li>Chương trình đào tạo được thiết kế phù hợp với thực tiễn và cập nhật liên tục với những xu hướng mới nhất của ngành công nghiệp.</li>
    <li>Trường cũng có các chương trình đào tạo liên kết với các đối tác trong và ngoài nước, giúp sinh viên có cơ hội trải nghiệm và học tập tại các quốc gia khác nhau.</li>
</ul>

@section Image{
    <img src="~/Images/image2.jpg"/>
}
