
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageTuyenSinh.cshtml";
}

<h2>Giới Thiệu Page</h2>
<p>
    Đại học Công nghiệp Hà Nội là một trong những trường đại học hàng đầu tại Việt Nam với hơn 60 năm kinh nghiệm trong đào tạo và nghiên cứu khoa học.
    Trường đào tạo đa ngành và đa bậc, từ đại học đến sau đại học với chất lượng giáo dục được đảm bảo, đội ngũ giảng viên có trình độ chuyên môn cao và kinh nghiệm thực tế.
    Ngoài ra, trường còn có các chương trình hợp tác quốc tế với các trường đại học uy tín trên thế giới, giúp sinh viên có cơ hội trải nghiệm học tập và nghiên cứu tại các nước khác nhau.
    Với mục tiêu đào tạo những cán bộ kỹ thuật chất lượng cao, có tay nghề và khả năng ứng dụng cao, Đại học Công nghiệp Hà Nội đã và đang đóng góp không nhỏ cho sự phát triển kinh tế - xã hội của đất nước.
</p>

@section Image {
    <img src="~/Images/image1.jpg" alt="anh1"/>
}