
@{
    ViewBag.Title = "tuyensinh";
    Layout = "~/Views/Shared/_LayoutPageTuyenSinh.cshtml";
}

<h2>Tuyển Sinh Page</h2>
<ol>
    <li>HaUI là một trong những trường đại học công nghiệp hàng đầu tại Việt Nam, với hơn 60 năm kinh nghiệm trong việc đào tạo nhân lực chất lượng cao cho ngành công nghiệp.</li>
    <li>Trường có đa dạng chương trình đào tạo từ trình độ đại học đến cao học, đáp ứng nhu cầu tuyển dụng của các doanh nghiệp và cơ quan, tổ chức trong và ngoài nước.</li>
    <li>HaUI tổ chức tuyển sinh vào các ngành đào tạo theo hình thức xét học bạ, kết hợp xét tuyển thí sinh qua kỳ thi THPT Quốc gia hoặc xét tuyển thí sinh đạt giải trong các kỳ thi quốc gia và quốc tế.</li>
</ol>

@section Image{
    <img src="~/Images/image3.jpg" alt="image 3" />
}

